extends layout

block content
    .main-header
    .main-title 
        h1 Backbone/Express Contact List

    div.container.main
        .row
            
            div#newContactForm.col-xs-12
             
        .row
            div.col-xs-12#initialContent= appData
        .row
            div.app.container.col-xs-12
                       
    footer 
        p A personal project by Ryan Neilson || &nbsp;
            script.
                document.write(new Date().getFullYear()) 
            a(href="https://neilsonwebdesign.com") &nbsp;Neilson Web Design
    style.
        .dataTables_wrapper .dataTables_paginate .paginate_button:hover  {
            background: linear-gradient(to bottom, #0c9aaf 0%, #86cfda 100%);
            border: 1px solid #0c9aaf;
            }
                

    
    

      
    
      


    
      
        
     
    



 

  
