doctype 5
html
  head
    title Backbone App
    
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css", integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu", crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Montserrat:400|Work+Sans:200" rel="stylesheet")
    link(href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/lib/require.js', data-main='javascripts/require.config.js')
    script(src='/javascripts/lib/myFunctions.js')
     
  body
    block content
      
